<%= render "layouts/header" %>
<div class="wrap">
</div>
<% breadcrumb :payment %>
 <%= breadcrumbs sseparator: "  &nbsp;&nbsp;&#12297;&nbsp;  "%>
<div class="contents-wrapper">
   <div class="contents clearfix">
    <div class="right-content">
      <div class="user-board">
        <section class="user-board__tag payment_board">
          <h2>支払い方法<h2>
          <section>
            <h4>クレジットカード一覧<h4>
              
            <%if card = current_user.card%>
              <div class="creditcard_list">
                  <input type="hidden", name="card_id", value="<%=card.id%>" >
                  <%=link_to "/cards/#{card.id}", method: :delete do%>
                    <button type="button">削除する</button>
                  <%end%>
                <img src="/images/credit_cards/visa.svg" alt="" width="49" height="20">
                <p><%= "**** **** **** " + @default_card_information.last4%></p>
                <% exp_month = @default_card_information.exp_month.to_s %>
                <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
                <p><%= exp_month + " / " + exp_year%></p>
              </div>
              
            <%else%>
              <%=link_to new_card_path do%>
                <div class="add_card_btn" >
                <i class="far fa-credit-card"></i>
              クレジットカードを追加する
                </div>
              <%end%>
            <%end%>
          </section>
          <div class="right_blue_text">
          <a href="#">支払い方法について<a>
          </div>
        </section>
      </div>

    </div>

    <%= render partial: "users/left_nav", locals: { user: @user }%>
  </div>
</div>
<%= render "layouts/footer" %>

<script>
$(function () {
  $('#user_payment').addClass('active_nav')
})
</script>