
<div class="new-item">
  <div class="new-item__top">
    <div class="new-item__top__icon">
      <%= link_to root_path do %>
        <img src="/images/fmarket_icon/fmarket_logo_red.svg" alt="Mercari" class="merukari-icon">
      <% end %>
    </div>
  </div>
</div>

<div class="contents_wrapper_purchases">
  <section class="l-single-container">
    <h3>購入が完了しました！</h3>
    <div class="item_info">
      <div>
        <%image_url = (@item.images.present?) ? @item.images[0].image : '/images/no_image.png'%>
        <%= image_tag image_url, size: '80x80' %>
      </div>
      <div class="name_price">
        <p><%=@item.title%></p>
        <p class="bold">¥<%=@item.price%> (税込み)</p>
      </div>
    </div>
    <%=link_to "/", class: "form" do %> 
      <button class="button" type="button">
        トップページへ
      </button>
    <%end%>
    <%=link_to boughtitems_users_path, class: "form" do %> 
      <button class="button" type="button">
        購入した商品一覧へ
      </button>
    <%end%>
  </section>
</div>
<%= render partial: "users/new/ufooter" %>
