<%=link_to "signup", signup_users_path%>
<%=link_to "login", login_users_path%>
<div class="items_index_wrapper">
<div class="top-content-image">
  <div class="top-content-image-picture">
    <div class="right-arrow">
    </div>
    <div class="left-arrow">
    </div>
    <div class="selection-pointer">
    </div>
  </div>
</div>
 <div class="main">
    <div class="cat">
      <h2>人気のカテゴリー</h2>
      <div class="cat__box">
        <ul class="nav">
          <li class="nav-list"><a href="#">レディース</a></li>
          <li class="nav-list"><a href="#">メンズ</a></li>
          <li class="nav-list"><a href="#">家電・スマホ・カメラ</a></li>
          <li class="nav-list"><a href="#">おもちゃ・ホビー・グッズ</a></li>
        </ul>
      </div>
    </div>
  <div class="wrap">
    <div class="women-group">
    <div class="women-group__title">
      <h3 class="group-new">レディース新着アイテム</h3>
      <a href="#">もっと見る 〉</a>
    </div>
    <section class="card-section">
      <ul class="card-list">
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
            <h3 class="A">¥1,200</h3>
          <figcaption class="card-text"><p>ワコールセーター:秋の最新モデルバージョン６,３行目は表示されない</p></figcaption>
        </li>
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</span></p>
        </li>
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
                <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
                <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
                <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
                <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
      </ul>
    </section>
    </div>
    <div clas="women-group">
    <div class="women-group__title">
      <h3 class="group-new">レディース新着アイテム</h3>
      <a href="#" class="details">もっと見る ></a>
    </div>
    <section class="card-section">
      <ul class="card-list">
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
            <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</span></p>
        </li>
        <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
                <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
                <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
                <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
                <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
                <li class="card-item">
          <%= image_tag 'images.jpeg', class: 'hoge', size: '188x188' %>
          <h3 class="A">¥1,200</h3>
          <p class="card-text">ワコールセーター</p>
        </li>
      </ul>
    </section>
  </div>
  </div>
</div>
</div>
