<% if user_signed_in? %><%=link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%><%end%>
<div class="header">
  <div class="header-contents">
      <div class="title">
        <div class="icon">
            <a href="/"><img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" alt="Mercari" class="merukari-icon"></a>
        </div>
        <div class="search-form">
          <input type="search" name="keyword" placeholder="何かお探しですか？" class="search-form-space">
          <div class="search-icon" >
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <div class="title-lists">
        <div class="item-lists">
          <div class="category-list">
            <div class="category-icon" style="color:red;">
              <i class="fas fa-list-ul"></i>
            </div>
            <div class="category-font">
              カテゴリーから探す
            </div>
          </div>
          <div class="brand-list">
            <div class="brand-icon" style="color:red;">
              <i class="fas fa-tags"></i>
            </div>
            <div class="brand-font">
              ブランドから探す
            </div>
          </div>
        </div>
        <% if user_signed_in? %>
        <div class="my-lists">
          <div class="good-list">
            <div class="good-icon">
              <i class="far fa-heart"></i>
            </div>
            <div class="good-font">
              いいね！一覧
            </div>
          </div>
          <div class="news-list">
            <div class="news-icon">
              <i class="far fa-bell"></i>
            </div>
            <div class="news-font">
              お知らせ
            </div>
          </div>
          <div class="todo-list">
            <div class="todo-icon">
              <i class="fas fa-check"></i>
            </div>
            <div class="todo-font">
              やることリスト
            </div>
          </div>
          <div class="mypage-list">
            <div class="mypage-icon">
              <i class="far fa-smile"></i>
            </div>
            <div class="mypage-font">
              マイページ
            </div>
          </div>
        </div>
        <% else %>
          <div class="no-signin">
            <div class="new_member">
              <a href="/users/new" class="new-access">新規会員登録</a>
            </div>
            <div class="login_member">
              <a href="/users/sign_in" class="login-access">ログイン</a>
            </div>
          </div>
        <% end %>
      </div>
      <ul class="header-sub">
        <li><span>メルカリ</span></li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <span>マイページ</span>
        </li>
        <li>
          <i class="fas fa-chevron-right"></i>
          <span>マイページ</span>
        </li>
      </ul>
  </div>

  <div class="content_wrapper" onmouseleave="removeNav()">
  <ul class="top_cat hidden">
    <% @root_cat = Category.find(1) %>
    <% @root_cat.children.each do |topcat| %>
      <li data-cat-id="<%=topcat.id%>">
        <a href=""><%= topcat.name %></a>
      </li>
    <%end%>
  </ul>

  <% @root_cat.children.each do |topcat| %>
    <ul class="middle_cat hidden" id="<%="cat#{topcat.id}"%>">
      <%topcat.children.each do |midcat|%>
      <li data-cat-id="<%=midcat.id%>">
        <a href=""><%=midcat.name%></a>
      </li>
      <%end%>
    </ul>
    
      <%topcat.children.each do |midcat|%>
      <%if midcat.children.length > 0%>
        <ul class="bottom_cat hidden" id="<%="cat#{midcat.id}"%>">
          <%midcat.children.each do |botcat|%>
          <li>
            <a href=""><%= botcat.name%></a>
          </li>
          <%end%>
        </ul>
      <%end%>
      <%end%>
  <%end%>
  </div>
</div>

<script>
$(function () {

  $(".category-font").on('mouseover', function () {
    $(".top_cat").removeClass('hidden');
    $(".top_cat").addClass('active_cat');
  })

  function hideLastActive(mouseoveredElem) {
    let active_cats = document.getElementsByClassName('active_cat');
    let active_last = [...active_cats].pop();
    if (mouseoveredElem.parentNode.className != active_last.className) {
      unFocusLastActive(mouseoveredElem);
      active_last.classList.remove('active_cat');
      active_last.classList.add('hidden');
    }
  }
  function unFocusLastActive(focusedLi) {
    let active_lis = document.getElementsByClassName('active_li')
    if (active_lis.length === 0) {
      return false;
    }
    let last_active_li = [...active_lis].pop()
    last_active_li.classList.remove('active_li');
  }

  $(document).on("mouseover", ".active_cat li", function hideAndShow() {
    hideLastActive(this);


    if (this.parentNode.className === "top_cat active_cat") {
      hideLastActive(this);
    }
    if (this.dataset.catId != null) {
      let catIdNum = this.dataset.catId.toString();
      let catId = 'cat'+ catIdNum
      let target = document.getElementById(catId);
      if (target != null) {
        target.classList.remove("hidden");
        target.classList.add('active_cat');
        this.classList.add('active_li')
      }
    }
  })
})
</script>
<script>
  function removeNav() {
    let activeCats = document.getElementsByClassName('active_cat');
      
    for (let cat of [...activeCats]) {
      cat.classList.remove('active_cat');
      cat.classList.add('hidden');
    }
    
    let active_lis = document.getElementsByClassName('active_li');
    for (let cat of [...active_lis]) {
      cat.classList.remove('active_li');
    }
  }
</script>